
      <div class='row'>
        <div class="col-md-6 chpasswd-header">
          <h3>{{ _("Change your password") }}</h3>
        </div>
      </div>

      <div id="changePasswordDialog" class="well">

        <p>{{ _('You must change your current password using this form. A strong password '
                  'has been generated for you. You can accept the generated password by clicking '
                  '"Change password" or you can opt to choose your own password using the checkbox.') }}</p>

        <div class="password-format">
          </p>
          <p>{{ _('Choose a strong password. Some tips:') }}</p>
          <ul>
            <li>{{ _('Use upper- and lowercase characters (preferably not in the beginning or end)') }}</li>
            <li>{{ _('Add digits somewhere else than at the end of the password') }}</li>
            <li>{{ _('Add special characters, such as @ $ / + _ %') }}</li>
            <li>{{ _('Spaces are ignored') }}</li>
          </ul>
          </p>
        </div>

        <form accept-charset="utf-8"
              enctype="multipart/form-data"
              method="POST"
              action="#"
              class="form-horizontal"
              id="passwords-form">

              <div>
                <fieldset class="" id="chpasswd">
                  <input type="hidden"
                         id="Field1"
                         value="{{ csrf_token }}"
                         name="csrf">
                    <div title="" id="item-Field2"
                         class="form-group{% if 'old_password' in errors %} has-error{% endif %}">
                      <label class="control-label" for="Field2">
                        {{ _('Current password') }}<span id="req-Field2" class="req"></span>
                      </label>
                      <div class="controls">
                        <input class="form-control" type="password" size="10" id="Field2" value="" name="old_password">
                      </div>
                      {% if 'old_password' in errors %}
                      <span class="has-error">{{ errors['old_password'] }}</span>
                      {% endif %}
                    </div>
                    <div title="" id="item-Field3" class="form-group ">
                      <label class="control-label" for="Field3">
                        {{ _('Use my own password') }}
                      </label>
                      <div class="controls">
                        <input type="checkbox" id="Field3" value="true" name="use_custom_password">
                      </div>
                    </div>
                    <div title="" id="item-Field4" class="form-group " style="display: block;">
                      <label class="control-label" for="Field4">
                        {{ _('Suggested password') }}
                      </label>
                      <div class="controls">
                        <span class="uneditable-input suggested-password" id="Field4">
                          {{ suggested_password }}
                        </span>
                      </div>
                    </div>
                    <div title="" id="item-Field5" class="form-group" style="display: none;">
                      <label class="control-label" for="Field5">
                        {{ _('Custom password') }}
                      </label>
                      <div class="controls">
                        <input type="password" class="custom-password form-control" size="20" id="Field5" value="" name="custom_password">
                      </div>
                    </div>
                    <div title="" id="item-Field6" class="form-group" style="display: none;">
                      <label class="control-label" for="Field6">
                        {{ _('Repeat the password') }}
                      </label>
                      <div class="controls">
                        <input type="password" class="custom-password form-control" size="20" id="Field6" value="" name="repeated_password">
                      </div>
                    </div>
                </fieldset>
              </div>
              <div class="form-actions">
                <button value="save" class="btn btn-primary  disabled" type="submit" name="save" id="passwords-formsave">
                  {{ _('Change password') }}
                </button>
              </div>
        </form>

<span class="dataholder" id="password-form-dialog-data" data-entropy="{{request.registry.settings.get('password_entropy', 60)}}"
                                                        data-user_input='{{ user_input }}'
                                                        data-msg_stronger="{{ _("A stronger password is required.") }}"
                                                        data-msg_again="{{_("Type the same password again")}}"></span>

        <script src="{{'eduid_actions:static/js/libs/zxcvbn.js'|static_url}}"></script>
        <script src="{{'eduid_actions:static/js/libs/pwstrength-bootstrap-1.1.1.min.js'|static_url}}"></script>
        <script src="{{'eduid_actions:static/js/libs/pwstrength-bootstrap-1.1.1.min.map'|static_url}}"></script>
        <script src="{{'eduid_actions:static/js/dashboard-passwords-form-dialog.js'|static_url}}"></script>
      </div>
